<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BlastRadius" value="3"/>
    <add key="AfkIdentifyTicks" value="5"/>
    <add key="CollisionReducerWeight" value="10"/>
    <add key="DeepForRecalcWeightsUnits" value="3"/>
    <add key="DeepForRecalcDirectionsWeight" value="7"/>
    <add key="DeepForCheckDeadlyMoves" value="5"/>
    <add key="UnitsWeightReducer" value="3"/>
    <add key="DirectionsWeightReducer" value="3"/>
    <add key="BombermanWeight" value="70000000000"/>
    <add key="MeatChopperWeight" value="25000000000"/>
    <add key="WallWeight" value="2000000000"/>
    <add key="DeathWeight" value="60000000000"/>
    <add key="OnlyActBeforeMode" value="true"/>
    <add key="CheckAfkPlayers" value="true"/>
    <add key="CheckCollision" value="true"/>
  </appSettings>
</configuration>